@charset "UTF-8";
/* CSS Document */

body {
  background-image:url("HW1/images/background.jpg");
}

.stickyHeader{
  padding: 0px 16px;
  background-color: aqua;
  opacity: .8;
  position: fixed;
  top: 0;
  width: 100%
}

.wrapper {
	margin: auto;
	width:80%;	
	background-color: wheat;
	border-style: solid;
	border-color: white;
	border-radius: 10px;
	padding: 10px;
	margin-top: 30px;
}

.section {
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	width:80%;	
	background-color: black;
	padding: 10px;
	border-radius: 10px;
}

.sectionTwo {
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	width:80%;	
	background-color: black;
	padding: 10px;
	border-radius: 10px;
}

.sectionTwo p {
	color: aqua
}


p {
    color: wheat;
    font-size: 30px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  opacity: .3;
  border-bottom: thick;
  border-bottom-color: red;
  color: white;
  text-align: left;
}

footer p {
	color:black;
	font-size: 12px;
}




@media (min-width:760px){

.stickyHeader{
  background-color:red;
}

}

@media (min-width:990px){
.stickyHeader{
  background-color: yellow;
}
}
